<template name="sideMenu">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    {{#unless mobile}}
      <h1 class="title">Congee Noodle</h1>
    {{/unless}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="container">
        <div id="mainContentReact"></div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>