/* CSS declarations go here */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(https://fonts.gstatic.com/s/mavenpro/v7/MG9KbUZFchDs94Tbv9U-pVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenProMedium'), url(https://fonts.gstatic.com/s/mavenpro/v7/SQVfzoJBbj9t3aVcmbspRugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Maven Pro Bold'), local('MavenProBold'), url(https://fonts.gstatic.com/s/mavenpro/v7/uDssvmXgp7Nj3i336k_dSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Maven Pro Black'), local('MavenProBlack'), url(https://fonts.gstatic.com/s/mavenpro/v7/-91TwiFzqeL1F7Kh91APwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
	font-family: 'Maven Pro', sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

.orange {
	color: #feb300;
}

.big {
	font-size: 190%;
}

.bold {
	font-weight: 900;
}

#edit-menu {
	header {
		background-color: #feb300;
		color:white;
		text-align:center;
		padding:5px;
	}
	#categories-section {
		line-height:30px;
		background-color: #ebebeb;
		height:300px;
		text-align: center;
		margin: 0;
		padding: 0;
		.category-title {
			border-color: grey;
			padding-top: 10px;
			padding-bottom: 10px;
			border-style: solid;
    		border-width: 0;
    		border-bottom-width: 1px;
		}
		.category {
			border-color: grey;
			padding-top: 10px;
			padding-bottom: 10px;
			border-style: solid;
    		border-width: 0;
    		border-bottom-width: 1px;
    		cursor: pointer;
		}
		.selected {
			background-color: white;
		}
	}
	#dishes-section {
		padding-left: 20px;

		.add-dish {
			img {
				width: 100px;
				height: 100px;
			}
		}

		.view-dish {
			img {
				width: 100px;
				height: 100px;
			}
		}
	}
	
}

