/* CSS declarations go here */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(https://fonts.gstatic.com/s/mavenpro/v7/MG9KbUZFchDs94Tbv9U-pVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenProMedium'), url(https://fonts.gstatic.com/s/mavenpro/v7/SQVfzoJBbj9t3aVcmbspRugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Maven Pro Bold'), local('MavenProBold'), url(https://fonts.gstatic.com/s/mavenpro/v7/uDssvmXgp7Nj3i336k_dSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Maven Pro Black'), local('MavenProBlack'), url(https://fonts.gstatic.com/s/mavenpro/v7/-91TwiFzqeL1F7Kh91APwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
	font-family: 'Maven Pro', sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

.red {
	color: #f73a7e;
}

.green {
	color: #60de5a;
}

.blue {
	color: #02a2ff;
}

.orange {
	color: #feb300;
}

.big {
	font-size: 190%;
}

.huge {
	font-size: 260%;
}

.light-bold {
	font-weight: 700;
}

.bold {
	font-weight: 900;
}

#edit-menu {
	header {
		background-color: #feb300;
		color:white;
		text-align:center;
		padding:5px;
	}
	#categories-section {
		line-height:30px;
		background-color: #ebebeb;
		height:300px;
		text-align: center;
		margin: 0;
		padding: 0;
		.category-title {
			border-color: grey;
			padding-top: 10px;
			padding-bottom: 10px;
			border-style: solid;
			border-width: 0;
			border-bottom-width: 1px;
		}
		.category {
			border-color: grey;
			padding-top: 10px;
			padding-bottom: 10px;
			border-style: solid;
			border-width: 0;
			border-bottom-width: 1px;
			cursor: pointer;
		}
		.selected {
			background-color: white;
		}
	}
	#dishes-section {
		padding-left: 20px;

		.add-dish {
			img {
				width: 100px;
				height: 100px;
			}
		}

		.view-dish {
			img {
				width: 100px;
				height: 100px;
			}
		}
	}
}

.log-out, .log-in {
	text-align: center;
}

.snap-drawer, .bar-header {
	background-color: rgba(242,242,242,1);
}

.toggle {
	float: right;
}

.item, .restaurant-row {
  cursor: pointer;
}

.align-right {
	float: right;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.restaurant-row {
	border-style: solid;
  border-width: 0.1em;
  margin: 1em;
  padding: 1em;
}

#counter-mode-page {
	header {
		background-color: #feb300;
		padding: 5px;
		height: 100px;
	}

	#status-row {
		border-color: #E8E8E8;
		border-style: solid;
		border-width: 0;
		border-bottom-width: 2px;
		padding-top: 25px;
		height: 100px;
	}

	#counter-mode-order-list-section {
		margin: 0;
		padding: 0;
		.order-container {
			border-color: #E8E8E8;
			border-style: solid;
			border-width: 0;
			border-bottom-width: 1px;
		}

		.counter-order {
			margin-top: 15px;
			margin-bottom: 20px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.order-number {
			display: inline-block;
			font-size: 150%;
			font-weight: 700;
			// float: left;
		}
		.order-type {
			float: right;
			font-size: 150%;
			font-weight: 700;
		}
		.item-description {
			display: inline-block;
			
		}
		.item-price {
			float: right;
		}

		.bill-total {
			border-color: black;
			border-style: dashed;
			border-width: 0;
			border-top-width: 1px;
			font-weight: 600;
			float: right;
		}

		.payment-status {
			display: inline-block;
			font-size: 120%;
			font-weight: 700;
		}

		.counter-order-buttons {
			// display: inline-block;
			float: right;
		}

	}
}

.container {
	padding-left: 0;
	padding-right: 0
}

.row img {
	width: 12em;
}

#customer-order-page {
	.star-icon{
		img{
			width: 32px;
			height: 32px;
			align: right;
		}
	}

	.phone-number-icon {
		display: inline-block;
		width: 16px;
		height: 16px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.phone-number {
		display: inline-block;
	}

	.location-icon{
		display: inline-block;
		width: 16px;
		height: 16px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.location{
		display:inline-block;
	}

	.cash-only-icon{
		display:inline-block;
		width: 16px;
		height: 16px;
		img{
			width: 100%;
			height: 100%;
		}

	}
	.cash-only{
		display: inline-block;
	}

	.pickup-only-icon{
		display: inline-block;
		width: 16px;
		height: 16px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.pickup-only{
		display: inline-block;
	}

	#order{
		.restaurant-info{
			position: relative;
			.header-background-image {
				position: absolute;
				height: 300px;
				width: 100%;
				background:url("/img/restaurant.jpg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%,100%;
				-webkit-filter: blur(10px); -moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px); filter: blur(10px);
				z-index: -1;
			}
		}

		.restaurant-details{
			text-align: center;
		}

		.details{
			color: #FF0066;
			text-align: center;
			margin-top: 150px;
		}
	}

}
